In [1]:
import pandas as pd
from scipy.stats import ttest_ind
from matplotlib import pyplot as plt
from sqlalchemy import create_engine
engine = create_engine('postgresql://test:mypassword@localhost:5432/test')#postgresql://{}:{}@{}:{}/{}

In [2]:
df = pd.read_csv('/home/tomy/Documents/data.csv')

/home/tomy/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [69]:
plt.hist(df.Year)
plt.show()

In [72]:
#There are three airports in San F., replace 'SFO' to study any airport
dfsf=df.loc[(df.Origin=='SFO') & (df.DepDelay>0) & (df.Year==2017)]
#no data in  year 2016

In [98]:
#Flight Delay Distribution
plt.hist(dfsf.DepDelay)
plt.title("Flight Delay Distribution")
plt.xlabel("Time (min)")
plt.ylabel("Frequency")
plt.show()

In [101]:
#Flight Delay Month Distribution
#all in Jan? or just data error?
plt.hist(dfsf.Month)
plt.title("Flight Delay Month")
plt.xlabel("Month")
plt.ylabel("Frequency")
plt.show()

In [110]:
#DayofMonth
plt.hist(dfsf.DayofMonth)
plt.title("Flight Delay DayofMonth")
plt.xlabel("DayofMonth")
plt.ylabel("Frequency")
plt.show()
#interesting bimodal distribution##

In [113]:
#DayOfWeek
plt.hist(dfsf.DayOfWeek)
plt.title("Flight Delay DayOfWeek")
plt.xlabel("DayOfWeek")
plt.ylabel("Frequency")
plt.show()
#wednesday (weekday 1) has the most delays, Saturday is the best for travel##

In [117]:
for carrier, group in dfsf.groupby('UniqueCarrier'):
    print(carrier)
    print(group.DepDelay.mean())
    #plt.hist(group.DepDelay)
    #plt.title("Flight Delay")
    #plt.xlabel("Month")
    #plt.ylabel("Frequency")
    #plt.show()
#The Carrier F9 has the largest mean delay time

AA
47.415
AS
53.589595375722546
B6
67.46946564885496
DL
50.391891891891895
F9
71.46601941747574
HA
20.857142857142858
OO
52.23593864134405
UA
42.2875605815832
VX
42.55281690140845
WN
45.641337386018236

In [106]:
carrier=dfsf.UniqueCarrier.unique()

In [108]:
for idx1 in range(len(carrier)):
    cat1 = dfsf.loc[dfsf.UniqueCarrier==carrier[idx1]].DepDelay.values
    for idx2 in range(idx1+1,len(carrier)):
        cat2 = dfsf.loc[dfsf.UniqueCarrier==carrier[idx2]].DepDelay.values
        t,p=ttest_ind(cat1, cat2, equal_var = False) #unequal variance (Welch) t test
        if p<0.05: #reject the null hypothesis
            print("carriers {} VS {} t:{} p:{}".format(carrier[idx1],carrier[idx2],t,p))

carriers AA VS B6 t:-3.2584268033449337 p:0.0011874450012843078
carriers AA VS F9 t:-2.8910681209360694 p:0.004356204874903092
carriers AA VS HA t:3.328850172889418 p:0.0020798731496851075
carriers B6 VS DL t:2.6324858819209105 p:0.00871593172490263
carriers B6 VS OO t:3.0248281746968244 p:0.002682827404811364
carriers B6 VS UA t:5.06199649110933 p:7.06984111679836e-07
carriers B6 VS WN t:4.225875011833812 p:3.0168645930038213e-05
carriers B6 VS AS t:2.2102690812317816 p:0.02761096122289214
carriers B6 VS VX t:4.928118727206828 p:1.3084461647833005e-06
carriers B6 VS HA t:5.539890945433892 p:1.7820227052754923e-06
carriers DL VS F9 t:-2.4596142802142067 p:0.014846043265313183
carriers DL VS HA t:3.5854520170655197 p:0.0009232237643656977
carriers F9 VS OO t:2.5540341448835986 p:0.011978787995617869
carriers F9 VS UA t:3.896527316764556 p:0.00016753422737275376
carriers F9 VS WN t:3.3907064597870744 p:0.0009482153159641811
carriers F9 VS AS t:2.1251022143732707 p:0.035053957950867645
carriers F9 VS VX t:3.8333251487591267 p:0.00020765226407328308
carriers F9 VS HA t:5.008036324757229 p:3.784660764029683e-06
carriers OO VS UA t:4.411130033414622 p:1.0645593021393687e-05
carriers OO VS WN t:2.489049280225493 p:0.01291472866011076
carriers OO VS VX t:3.985798556723549 p:6.959172204703918e-05
carriers OO VS HA t:4.388186307934471 p:0.00022485598163640182
carriers UA VS AS t:-2.5821318122134858 p:0.010467575017456553
carriers UA VS HA t:3.015145825594253 p:0.00638938722855042
carriers WN VS HA t:3.4221394544645163 p:0.002270574848048372
carriers AS VS VX t:2.469507104074242 p:0.014232686236106878
carriers AS VS HA t:4.053571427349242 p:0.00025810642714488074
carriers VX VS HA t:3.028117349854846 p:0.006056667615456503

In [105]:
idx2

1

In [87]:
p

0.052700927044944459

In [99]:
df

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2017,1,1,17,2,2017-01-17,AA,19805,AA,N583AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,1,1,18,3,2017-01-18,AA,19805,AA,N544AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,1,1,19,4,2017-01-19,AA,19805,AA,N553AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,1,1,20,5,2017-01-20,AA,19805,AA,N191AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,1,1,21,6,2017-01-21,AA,19805,AA,N170AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017,1,1,22,7,2017-01-22,AA,19805,AA,N179AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017,1,1,23,1,2017-01-23,AA,19805,AA,N579AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017,1,1,24,2,2017-01-24,AA,19805,AA,N583AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017,1,1,25,3,2017-01-25,AA,19805,AA,N167AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2017,1,1,26,4,2017-01-26,AA,19805,AA,N551AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017,1,1,27,5,2017-01-27,AA,19805,AA,N919AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2017,1,1,28,6,2017-01-28,AA,19805,AA,N542AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2017,1,1,29,7,2017-01-29,AA,19805,AA,N559AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2017,1,1,30,1,2017-01-30,AA,19805,AA,N921AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2017,1,1,31,2,2017-01-31,AA,19805,AA,N972AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2017,1,1,11,3,2017-01-11,AA,19805,AA,N185AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2017,1,1,12,4,2017-01-12,AA,19805,AA,N970AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2017,1,1,13,5,2017-01-13,AA,19805,AA,N199AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2017,1,1,14,6,2017-01-14,AA,19805,AA,N919AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2017,1,1,18,3,2017-01-18,AA,19805,AA,N190AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2017,1,1,19,4,2017-01-19,AA,19805,AA,N553AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2017,1,1,20,5,2017-01-20,AA,19805,AA,N191AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2017,1,1,21,6,2017-01-21,AA,19805,AA,N170AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2017,1,1,22,7,2017-01-22,AA,19805,AA,N179AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2017,1,1,25,3,2017-01-25,AA,19805,AA,N167AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2017,1,1,26,4,2017-01-26,AA,19805,AA,N551AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2017,1,1,27,5,2017-01-27,AA,19805,AA,N919AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2017,1,1,28,6,2017-01-28,AA,19805,AA,N510AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2017,1,1,29,7,2017-01-29,AA,19805,AA,N559AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2017,1,1,6,5,2017-01-06,AA,19805,AA,N554AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449987,2017,1,1,24,2,2017-01-24,WN,19393,WN,N415WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449988,2017,1,1,24,2,2017-01-24,WN,19393,WN,N8322X,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449989,2017,1,1,24,2,2017-01-24,WN,19393,WN,N8650F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449990,2017,1,1,24,2,2017-01-24,WN,19393,WN,N475WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449991,2017,1,1,24,2,2017-01-24,WN,19393,WN,N7736A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449992,2017,1,1,24,2,2017-01-24,WN,19393,WN,N453WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449993,2017,1,1,24,2,2017-01-24,WN,19393,WN,N711HK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449994,2017,1,1,24,2,2017-01-24,WN,19393,WN,N7737E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449995,2017,1,1,24,2,2017-01-24,WN,19393,WN,N444WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449996,2017,1,1,24,2,2017-01-24,WN,19393,WN,N953WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449997,2017,1,1,24,2,2017-01-24,WN,19393,WN,N8601C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449998,2017,1,1,24,2,2017-01-24,WN,19393,WN,N8682B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449999,2017,1,1,24,2,2017-01-24,WN,19393,WN,N917WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450000,2017,1,1,24,2,2017-01-24,WN,19393,WN,N606SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450001,2017,1,1,24,2,2017-01-24,WN,19393,WN,N701GS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450002,2017,1,1,24,2,2017-01-24,WN,19393,WN,N201LV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450003,2017,1,1,24,2,2017-01-24,WN,19393,WN,N376SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450004,2017,1,1,24,2,2017-01-24,WN,19393,WN,N7833A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450005,2017,1,1,24,2,2017-01-24,WN,19393,WN,N451WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450006,2017,1,1,24,2,2017-01-24,WN,19393,WN,N761RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450007,2017,1,1,24,2,2017-01-24,WN,19393,WN,N8611F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450008,2017,1,1,24,2,2017-01-24,WN,19393,WN,N7849A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450009,2017,1,1,24,2,2017-01-24,WN,19393,WN,N7739A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450010,2017,1,1,24,2,2017-01-24,WN,19393,WN,N706SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450011,2017,1,1,24,2,2017-01-24,WN,19393,WN,N600WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450012,2017,1,1,24,2,2017-01-24,WN,19393,WN,N8504G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450013,2017,1,1,24,2,2017-01-24,WN,19393,WN,N8692F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450014,2017,1,1,24,2,2017-01-24,WN,19393,WN,N927WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450015,2017,1,1,24,2,2017-01-24,WN,19393,WN,N604SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450016,2017,1,1,24,2,2017-01-24,WN,19393,WN,N449WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df.to_sql(name='flightdata', con=engine, if_exists = 'append', index=False)

OperationalError: (psycopg2.OperationalError) could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

In [43]:
df = pd.read_sql_query('select * from pg_catalog.pg_tables',con=engine)

OperationalError: (psycopg2.OperationalError) could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

In [31]:
conn_str = "host={} dbname={} user={} password={}".format('localhost', 'test', 'test', 'mypassword')

In [33]:
import psycopg2
conn = psycopg2.connect(conn_str)

OperationalError: FATAL:  no pg_hba.conf entry for host "127.0.0.1", user "test", database "test", SSL on
FATAL:  no pg_hba.conf entry for host "127.0.0.1", user "test", database "test", SSL off